body {
  margin: 8px;
  display: block;
  background-color: rgba(4, 3, 1, 0.792);
}
p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
  
  .funParagraph {
    color:green;
  }
  .mainHeading {
    color:red
  }
  .Firstday {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  p {
    background-color: rgb(11, 50, 141);
  }
  #Day1  {
    background-color: rgb(129, 127, 212);
  }