body {
  margin: 8px;
  display: block;
  background-color:wheat;
}
h1 {
  text-align: center;
}
p {
    
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
  
  #mainHeading {
    color:red;
  }

  #testP {
    color:green;
  }
  
  img {
    opacity: 1;
   display:block;
   max-width:780px;
   max-height:780px;
   width:auto;
   height:auto;
   
 }
  
  